.container {
  margin: 0 90px 0 90px;
}

.currency-title {
  display: flex;
  justify-content: center;
}

.currency-border-box {
  background-color: rgb(146, 99, 99);
  border-radius: 10px;
  box-shadow: 4px 10px 5px 0px rgba(64, 60, 60, 0.75);
}

.main-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 20px 0;
}

.convert-button {
  margin-top: 10px;
}
