.list-container {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
  gap: 10px;
  margin: 0 20px 0 20px;
}

.list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  padding: 10px;
  border: 1px solid #ccc; /* Add a border to separate items */
}
